<div class="grid">
  <div>
    <button>Social Media</button>
  </div>
  <div>
    <button>Connect BCI</button>
  </div>
  <div>
    <button>Train BCI</button>
  </div>
  <div>
    <button>Options</button>
  </div>
</div>