---
/** General */
import { ViewTransitions } from "astro:transitions";

/** Components */
import ConnectionLostAlert from "../ConnectionLostModal/ConnectionLostAlert.astro";
import DarkModeActivator from "./components/DarkModeActivator";

/** Props */
const { title, description, class: className, ...props } = Astro.props;
---

<!doctype html>
<html lang="en" class="w-full h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description || ""} />
    <meta name="color-scheme" content="light dark" />
    <title>{title} | Flicktok</title>
    <ViewTransitions />
  </head>
  <!-- Other themes: https://daisyui.com/docs/themes/ -->
  <body
    id="root"
    class:list={[
      "w-full h-full min-w-min min-h-min relative flex flex-col",
      className,
    ]}
  >
    <DarkModeActivator client:only="react" />
    <ConnectionLostAlert id="connection-alert" transition:persist />
    <slot />
    <script type="module">
      import globalStore from "/src/stores/global.store.js";

      globalStore.__fns.initialize();

      const alert = document.querySelector("#connection-alert");
      if (!globalStore.connectedToServer) alert.showModal();

      globalStore.__fns.subscribeKey("connectedToServer", (value) => {
        if (!value) alert.showModal();
        else alert.close();
      });

      const cb = () => {
        if (typeof window.api === "undefined") return;
        window.api.receive("fromMain", (data) => {
          console.info("Received from main process:", data);
        });
      };
      document.addEventListener("astro:page-load", cb, { once: true });

      document.addEventListener("astro:after-swap", () => {
        if (typeof window.api === "undefined") return;
        globalStore.page =
          new URL(window.location.href).pathname.slice(1) || "index";
        window.api.send("toMain", {
          id: "info:navigated-to",
          data: {
            referrer: document.referrer,
            url: window.location.href,
          },
        });
      });
    </script>
  </body>
</html>
