---
/** General */
import { ViewTransitions } from "astro:transitions";

/** Props */
const { title, description, ...props } = Astro.props;
---

<!doctype html>
<html lang="en" class="w-full h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description || ""} />
    <meta name="color-scheme" content="light dark" />
    <title>{title} | Flicktok</title>
    <ViewTransitions />
  </head>
  <body
    id="root"
    class="w-full h-full min-w-min min-h-min border-slate-900 border-4 relative"
  >
    <slot />
    <script type="module">
      // @ts-nocheck
      document.addEventListener("astro:page-load", () => {
        if (typeof window.api === "undefined") return;
        window.api.receive("fromMain", (data) => {
          console.log("Received from main process", data);
        });
      });
    </script>
  </body>
</html>
