---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout class="max-w-2xl min-w-min mx-auto" {...Astro.props}>
  <header class="w-full flex-2">
    <slot name="header" />
  </header>
  <main class="w-full flex-1">
    <slot name="main" />
  </main>
  <footer class="w-full">
    <slot name="footer" />
  </footer>
</BaseLayout>
