---
import PrototypeLayout from "../components/layouts/PrototypeLayout.astro";
import HeadsetStatusText from "../components/Setup/HeadsetStatusText.astro";
---

<PrototypeLayout title="Setup">
  <div class="flex p-4" slot="header">
    <div class="flex-1">
      <div class="flex flex-col h-full items-center justify-center">
        <h6>Headset Status:</h6>
        <HeadsetStatusText />
      </div>
    </div>
    <div class="flex-1">
      <div class="flex flex-col h-full items-center justify-center">
        <div class="flex items-center space-x-4">
          <div>
            <h6>FES System:</h6>
          </div>
          <div>
            <button
              class="btn btn-neutral"
              onclick="window.api.send('toMain', { id: 'run-fes-test'})"
            >
              Run Test
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col space-y-4 w-1/2 w-max-md mx-auto h-[calc(100%-85px)] justify-center"
  >
    <a class="btn btn-primary btn-disabled" href="/train" id="train-btn">
      Train BCI
    </a>
    <a class="btn btn-primary" href="#">Options</a>
  </div>
</PrototypeLayout>
