---
import PrototypeLayout from "../components/Layouts/PrototypeLayout.astro";
import SetupHeader from "../components/Setup/SetupHeader.astro";
---

<PrototypeLayout title="Setup">
  <SetupHeader slot="header" />
  <div
    class="flex flex-col space-y-4 max-w-md mx-auto h-full justify-center"
    slot="main"
  >
    <a class="btn btn-primary btn-disabled" href="/train" id="train-btn">
      Train BCI
    </a>
    <a class="btn btn-primary btn-outline" href="/settings">Settings</a>
  </div>
</PrototypeLayout>
