---
import IconOverlay from "../components/SocialMediaOverlay/IconOverlay";
---

<!doctype html>
<html
  lang="en"
  class="w-full h-full"
  style="background-color: transparent !important; user-select: none !important; pointer-events: none !important;"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="" />
    <meta name="color-scheme" content="light dark" />
    <title></title>
  </head>
  <body class="w-full h-full">
    <div class="w-full h-full flex justify-center items-center">
      <IconOverlay client:only="react" />
    </div>
  </body>
</html>
