---
import PrototypeLayout from "../components/Layouts/PrototypeLayout.astro";
import ConnectionLostRedirect from "../components/ConnectionLostModal/ConnectionLostRedirect.astro";
import PredictBtn from "../components/Prediction/PredictBtn.astro";
import PredictionScreen from "../components/Prediction/PredictionScreen.astro";
---

<PrototypeLayout title="Predict">
  <div class="flex p-3 h-24" slot="header">
    <div class="flex-1">
      <div class="flex h-full items-center justify-center">
        <PredictBtn />
      </div>
    </div>
    <!-- Need to ensure that the icon images are the same size so the header doesn't jump around -->
    <!-- It would be better to adjust the size of the icon images; this is a temporary solution -->
    <img
      id="prediction-state-icon"
      src=""
      class="max-w-24 max-h-14 min-w-14 min-h-14"
    />
    <div class="flex-1">
      <div class="flex flex-col h-full items-center justify-center">
        <span id="prediction-state-text"></span>
      </div>
    </div>
  </div>

  <PredictionScreen slot="main" />

  <div class="flex p-3" slot="footer">
    <div class="flex-1">
      <div class="flex h-full items-center justify-center">
        <a class="btn" href="javascript:history.back()">Back</a>
      </div>
    </div>
    <div class="flex-1">
      <div class="flex flex-col h-full items-center justify-center"></div>
    </div>
  </div>
  <ConnectionLostRedirect />
</PrototypeLayout>
